@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

html {
	font-family: 'Montserrat', sans-serif;
	color: white;
	background: radial-gradient(#000000, #222222);
	width: 100%;
	height: 100%;
}
